body{
    padding:0;
    margin: 0;
    height: auto;
    font-family: "exo", sans-serif;
}  

/*---------------------------------------header*/

.container-fluid{
    padding-left: 0;
    padding-right: 0;
}

.listen-file{
    background-color: #ffffff;
}

.events-file{
    background-color: #4a59bc;
}

.history-file{
    
    background-image: url(images/swirl.jpg);
    background-size: 100% 500px;
    background-repeat: repeat-y;
    background-attachment: fixed;
}

header{
    top: 0;
    left: 0;
    width: 99%;
    text-align: center;
    
}

#logo{
    background-color: transparent;
    width: 100%;
}

.menu-items{
    height: 40px;
    border-radius: 60px;
    box-shadow: 10px 16px 25px 0px rgba(0,0,0,0.75);
    margin-bottom: 10px;
}

.row{
    margin: 0;  
}

.home{
    background-color: brown;
}

.listen{
    background-color: #e6c602;
}

.events{
    background-color: #B8D500;
}

.history{
    background-color: #D8A5CE;
}

.menu{
    margin-left: 0;
}

.menu li{
    display: inline-block;
    font-size: 1.3em;
    font-family: 'Luckiest Guy', cursive;
    margin-top: 8px;
    text-transform: uppercase;
}

.menu span{
    letter-spacing: 3px;
    color: #F9E8CC;
    text-decoration: none;
    text-shadow:3px 5px 2px #474747;
}

/*---------------------------------------section index*/

.index-file{
    background-color: #c9c2c1;
}
.index-section{
    text-align: center;
    background-color: #c9c2c1;
   
}    

.main-index{
    background: url(images/red-guitar.png);
    background-position: center;
    background-size: 90% auto;
    background-repeat: no-repeat;
    background-attachment: fixed;
}



#jumbotron5{
    width: 58%;
    margin: 20px 21%;
    background-color: rgba(189, 134, 134, 0.87);
    padding: 30px 10px;
    border: 2px solid #ad2121;
}

#jumbotron5 p {
    margin-bottom: 15px;
    font-size: 21px;
    font-weight: bold;
}

.title-xmas{
    background-color: rgba(255, 255, 255, 0);
    color: rgba(0, 0, 0, 0.84);
    font-size: 5vw;
    font-family: 'Luckiest Guy', cursive;
}

#xmas-special {
    width: 70%;
    height: 34vw;
    margin-bottom: 5vw;
}

#album2{
    float: left;
    padding: 10px;
}

.advert {
    overflow: auto;
    width: 500px;
    margin: 0px;
    padding: 0;
    position: fixed;
    right: 0;
    bottom: 20%;
    background-color: rgba(99, 33, 33, 0.5490196078431373);
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
}

.text-advert{
    color: #ffffff;
    text-transform: capitalize;
}

h2{
    margin-top: 10px;
}

.small-text{
    color: #ffffff;
}

#order{
    color: #4b4950;
    font-weight: bold;
    border-radius: 15px;
    background-color: #eccc2b;
    border-color: #eccc2b;
}

#order:hover{
    background-color: orange;
    border: orange;
    color: #fff;
}

@media (max-width:767px) {
    #album2{
        display: none;
    }
    .advert{
        width: 200px;
        height: auto;
        padding-bottom: 10px
    }
}

/*---------------------------------------section listen*/

audio{
    width: 100%;
}

.content{
    max-width: 100%;
    margin: 0 0 30px 0;
    box-shadow: 10px 20px 15px 7px rgba(0, 0, 0, 0.44);
    border-radius: 8px;
    background-color: #f1f3f4;
}

@media (min-width: 768px){
    .songs{
          height: 650px;
}
}

@media (min-width: 1200px){
    .songs{
          height: auto;
}
}

#block-divider-listen{
    background-color: #a52a2a;
}

#jumbotron3{
    background-color: #2f2626;
    border: 5px solid #a52a2a;
    border-radius: 10px;
    width: 80%;
    margin: 0 auto 25px auto;
}

.video-listen{
    margin-bottom: 20px;
}

.vid-title-listen{
    font-family: 'Luckiest Guy', cursive;
    color: #a52a2a;
}

/*---------------------------------------section events*/

.events-section{
    background-image: url(images/live.jpg);
    background-position: center;
    background-repeat: repeat;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.container-fluid .jumbotron1{
    border-radius: 85px;
}

.jumbotron1{
    border-radius: 40px;
    margin: 45px;
    background-color: rgba(130, 30, 30, 0.39);
    color: #fafafa;
}

.jumbotron1 p{
    font-style: italic;
}

#monkees-events{
    color: #f1cf01;
    font-size: 10vw;
    font-family: 'Pacifico', cursive;
}

.jumbotron1 .btn{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: 10px;
}

.center-form{
    max-width: 75%;
    margin: 0 auto;
}

.form-control{
    margin: 5px;
    background-color: rgba(0, 0, 0, 0.58);
    font-weight: bold;
}

.jumbotron2{
    background-color: transparent;
    margin: 45px;
}

.jumbotron2, .h1, .h4{
    color: #ffffff;
   
}

.jumbotron2 p{
    color: #fafafa;
    font-style: italic;
    margin-bottom: 0;
}

.concert{
    border-left: 0;
    background-color: rgba(130, 30, 30, 0.39);
    border-radius: 30px;
}

.concert-date{
    color: #fafafa;
    
}

.btn-tickets{
    margin-top: 10px;
}

/*---------------------------------------section history*/

#jumbotron4{
    border-radius: 15px;
    margin: 0 20% 0 5%;
    background-color: rgba(130, 30, 30, 0.72);
    color: #fafafa;
    width: 90%;
}

#band-history{
    margin: 15px;
    font-size: 1.5em;
}

#band-history a{
    color: #000;
}

#cover3{
    float: none;
    margin: 20px 20%;
    width: 60%;
    height: auto;
    border: 5px solid #580c0f;
    border-radius: 20px;
    box-shadow: 8px 13px 8px 4px rgba(0, 0, 0, 0.47);
}

.block-divider--short{
    width: 25%;
    height: 10px;
    background-color: #580c0f;
    border-radius: 25px;
    border: 0;
}

.bios-history{
    margin-top: 50px;
}

.biography{
    margin-bottom: 25px;
}


.card {
  box-shadow: 8px 13px 8px 4px rgba(0, 0, 0, 0.47);
  max-width: 250px;
  margin: 0;
  text-align: center; 
  background-color: #f9f3e7;
}

.card p{
    text-align: left;
    padding: 5px;
}


/*---------------------------------------footer*/

.bottom-footer{
    background-color: #2f2626;
    min-height: 100px;
}

.footer-items{
    text-align: center;
    margin-top: 20px;
}

#footer-sm{
    padding: 1%;
}

.footer-prod{
    font-size: 18px;
    color: #f9f3e7;
}
/*
.members{
    margin-left: 20px;
}
*/
.links i{
  font-size: 35px;
  border:solid 4px #f9f3e7;
  border-radius: 20%;
  width: 60px;
  height: 50px;
  vertical-align: middle;
  margin-top: 5px;
  padding-top: 5px;
  color: #f9f3e7;
}

.links i:hover{
    background-color: #6b6363;
}