body{
    padding:0;
    margin: 0;
    height: 100%;
    font-family: "exo", sans-serif;
    /*--background-image: url(images/monkees2.jpg);
    background-repeat: repeat;
    background-size: 3vw 3vw;
    background-attachment: fixed;--*/
    background-color: #c9c2c1;
}  

/*---------------------------------------header*/
.container-fluid{
    padding-left: 0;
    padding-right: 0;
}

header{
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;
    max-height: 150px;
}

#logo{
    background-color: transparent;
    width: 90%;
}

.menu-items{
    height: 40px;
    border-radius: 60px;
    box-shadow: 10px 16px 25px 0px rgba(0,0,0,0.75);
    margin-bottom: 10px;
}

.row{
    margin: 0;  
}

.home{
    background-color: brown;
}

.listen{
    background-color: #f1cf01;
}

.events{
    background-color: #B8D500;
}

.history{
    background-color: #D8A5CE;
}

.menu{
    margin-left: 0;
}

.menu li{
    display: inline-block;
    font-size: 1.3em;
    font-family: 'Luckiest Guy', cursive;
    margin-top: 8px;
    text-transform: uppercase;
}

.menu li a{
     color: #F9E8CC;
     text-decoration: none;
     text-shadow:3px 5px 2px #474747;
}

.menu span{
    letter-spacing: 3px;
}

/*---------------------------------------section*/




/*---------------------------------------footer*/

footer{
    background-color: #580c0f;
    min-height: 100px;
   
}

.footer-items{
    text-align: center;
    margin-top: 20px;
    
}

.members{
    margin-left: 20px;
}

.links i{
  font-size: 35px;
  border:solid 4px #f9f3e7;
  border-radius: 20%;
  width: 60px;
  height: 50px;
  vertical-align: middle;
  margin-top: 5px;
  padding-top: 5px;
  color: #f9f3e7;
}

.links i:hover{
    background-color: #3e1a1a;
}